.loading {
    opacity: 0.6;
    transition: opacity .5s ease-out;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgb(255, 255, 255);
    z-index: 10000;
}

.loading_icon {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 99999;
}