<div nz-row style="width: 100%; height: 100%;">
  <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="16" [nzLg]="16" style="background-image: url('assets/image/logistics-bg.jpg');background-size:cover;"></div>
  <div nz-col [nzXs]="24" [nzSm]="0" [nzMd]="8" [nzLg]="8" >
<div class="centered">
<a href="https://ng.ant.design/" target="_blank">
  <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
  <h1>Ant Design Of Angular</h1>
</a>
    <form nz-form [formGroup]="form" class="login-form" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your username!">
          <nz-input-group nzPrefixIcon="user" nzSize="large">
            <input type="text" nz-input formControlName="userName" placeholder="Username" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your Password!">
          <nz-input-group nzPrefixIcon="lock" nzSize="large">
            <input type="password" nz-input formControlName="password" placeholder="Password" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <!-- <div nz-row class="login-form-margin">
        <div nz-col [nzSpan]="12">
          <label nz-checkbox>
            <span>Remember me</span>
          </label>
        </div>
        <div nz-col [nzSpan]="12">
          <a class="login-form-forgot">Forgot password</a>
        </div>
      </div> -->
      <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'" nzSize="large"
      (click)="login()">Log in</button>
      <!-- Or
      <a>register now!</a> -->
    </form>
    Ant Design ©2020 Implement By Angular
    </div>
  </div>
</div>