<nz-layout class="app-layout" *ngIf="isLogin">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Ant Design Of Angular</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">Welcome</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Monitor</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Workplace</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/basic-forms">Basic Form</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <div style="height: 64px;" nz-row>
        <div nz-col [nzSpan]="16" style="height: 64px;font-size: large;font-weight:bold;"><span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i></span>
        

        Demo Application</div>
        <div nz-col [nzSpan]="8" style="text-align: right;padding-right: 8px;">
          <!-- <nz-space>
          <nz-avatar *nzSpaceItem nzText="H" style="color:white; background-color:#1890ff;"></nz-avatar>
          <label *nzSpaceItem>Kitti Haru</label>
          <button *nzSpaceItem nz-button nzType="default" nzDanger (click)="logout()">Logout</button>
          </nz-space> -->
          <button nz-button nz-dropdown [nzDropdownMenu]="menu" nzType="text" style="color:white;">
            <i nz-icon nzType="user"></i>
            Kitti Haru
          </button>
          <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu nzSelectable>
            
            <li nz-menu-item style="color:red;"><i nz-icon nzType="logout"></i> <span>Logout</span></li>
          </ul>
          </nz-dropdown-menu>
        </div>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <!-- <div class="inner-content" style="padding:0px 12px 0px 12px;"> -->
        <router-outlet></router-outlet>
      <!-- </div> -->
    </nz-content>
    <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
  </nz-layout>
</nz-layout>

<div nz-row *ngIf="!isLogin" style="width:100%">
  <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="16" [nzLg]="16" style="background-image: url('assets/image/logistics-bg.jpg');background-size:cover;"></div>
  <div nz-col [nzXs]="24" [nzSm]="0" [nzMd]="8" [nzLg]="8" ><router-outlet></router-outlet></div>
</div>

<loading></loading>